body
{
position; relative;
min-width: 800px;
max-width: 1024px;
background-color:#424254	;
margin: 0 auto;
zoom: 1; 
width: 100%;
padding: 10px;
}

div.menu
{
color: #e6f9c5;
position: relative;
padding:none;
border:none;
top: 0px;
left: 0 auto;
margin:auto;
background-color:none;
}

A.menubutton
{
position: relative;
top: -9px;
left: 15px;
font-family: helvetica;
font-weight:bold;
font-size: 18px;
color: #E6F9C5;
padding: 7px;
height: 15px;
margin: 0px;
border: none;
background-color:#2A191D;
text-decoration: none;
border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
}


div.title
{
border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
background-color: #2A191D;
position: relative;
width: 850px;
margin: 0;
top: 0em;
left: 0;
padding-top: 1em;
}

p#name
{
position: relative;
top: -1.3em;
color: #E6F9C5;
font-family: helvetica;
font-size: 48px;
padding-top: 20px;
padding-bottom: 0px;
padding-left: 10px;
}
