div.body
{
border-radius: 0px 0px 15px 15px;
-moz-border-radius: 0px 0px 15px 15px;
background-color: #efefef;
position: relative;
top: -6em;
left: 0px;
width: 850px;
color: #000000;
font-family: helvetica;
font-size: 14px;
}

p.details
{
position: relative;
width: 500px;
padding: 10px;
}

A.contactlink:link 
{
color: #000000; 
text-decoration: underline; 
}

A.contactlink:visited 
{
color: #000000; 
text-decoration: underline; 
}

A.contactlink:hover 
{
color: #0000ff; 
text-decoration: none; 
}

A.contactlink:active 
{
color: #000000; 
text-decoration: underline; 
}