p#position
{
color: #D8D8D8;
position: relative;
top: -50px;
left: 100px;
font-family: helvetica;
font-style: italic;
font-size: 48px;
}

div.body
{
background-color:#424242;
position: relative;
left: 250px;
width: auto;
max-width: 774;
top: -450px;
color: #ffffff;
font-family: times new roman;
font-size: 14px;
}

p#details1
{
padding: 10px;
}
p#details2
{
padding: 10px;
}
p#details3
{
padding: 10px;
}

img#self1
{
position: relative;
top: -200px;
}

A.intext:link 
{
color: #000000; 
text-decoration: underline; 
}
A.intext:visited 
{
color: #ffffff; 
text-decoration: underline; 
}
A.intext:hover 
{
color: #ff0000; 
text-decoration: none; 
}
A.intext:active 
{
color: #000000; 
text-decoration: underline; 
}