div.title
{
margin-bottom: 0em;
height: 100px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
}

p#position
{
color: #D8D8D8;
position: relative;
top: -1em;
left: 100px;
font-family: helvetica;
font-style: italic;
font-size: 30px;
}

div.body
{
border-radius:0px 0px  15px 15px ;
-moz-border-radius:0px 0px  15px 15px ;
background-color: #efefef;
position: relative;
top: -6em;
left: 0px;
width: 850px;
color: #000000;
font-family: helvetica;
font-size: 14px;
}

p#details1
{
padding: 10px;
}
p#details2
{
padding: 10px;
}
p#details3
{
padding: 10px;
}

img#self1
{
position: relative;
top: -200px;
}

A.intext:link 
{
color: #000000; 
text-decoration: underline; 
}
A.intext:visited 
{
color: #000000; 
text-decoration: underline; 
}
A.intext:hover 
{
color: #ff0000; 
text-decoration: none; 
}
A.intext:active 
{
color: #000000; 
text-decoration: underline; 
}

div.project
{
position: relative;
top: -6em;
width: 850px;
color: #202020;
font-family: helvetica;
font-size: 14px
margin-botton: 4em;
}
div.description
{
border-radius: 15px;
-moz-border-radius: 15px;
border-top: 0em;
position: relative;
width: 850px;
background-color: #efefef;
}
p.projtitle
{
border: 15px;
background-color: #808080;
border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
font-size: 20px;
padding: 10px;
}
p.projdescription
{
position: relative;
top: -1.4em;
padding: 10px;
background-color: #efefef;
font-size: 20px;
font-family: helvetica;
font-size: 14px;
width: 525px;
}

div.beer
{
position: relative;
top: -6em;
width: 500px;
color: #ffffff;
font-family: helvetica;
font-size: 14px
}
p.beertitle
{
font-size: 20px;
margin-top: 0;
}
img#cheese
{
width: 240px;
height: 180px;
position: absolute;
left: 575px;
top: 4em;
border: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}